streamlit
bs4
urllib3
marshmallow
pandas_ta
matplotlib
scikit-learn
pandas 
Cython  
seaborn
plotly 
nbformat 
prophet
setuptools
numpy
TA-Lib
ollama
psycopg2-binary
sqlalchemy
logging
yfinance
streamlit-lightweight-charts
altair
streamlit-echarts